@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap';
    font-family: 'Ubuntu', sans-serif;
}

@font-face {
    src: 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
    font-family: 'Montserrat', sans-serif;
}